@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

body {
  margin: 0 80px;
  height: 300vh;
}

body, p, a, ::placeholder {
  font-family: "Kumbh Sans", sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 50px;
}
/* left section */
.logo {
  width: 110px;
  margin-right: 20px;
}

.header-left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
}

.anchor-container {
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: 4px solid transparent;
  transition: all 0.15s;
}

.anchor-container:hover {
  border-bottom: 4px solid orange;
}

.header-anchor {
  text-decoration: none;
  font-size: 0.8rem;
}

/* right section */
.header-right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.header-cart-icon {
  filter: invert(72%) sepia(0%) saturate(1127%) hue-rotate(226deg) brightness(96%) contrast(85%);
  width: 18px;
}

.image-avatar {
  width: 40px;
}

/* Left section */

.left-section {
  width: 380px;
}

.image-product {
  width: inherit;
  border-radius: 12px;
}

.thumbnail-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.image-product-thumbnail {
  width: 80px;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: all 0.15s;
}

.image-product-thumbnail:hover {
  border: 3px solid orange;
  opacity: 0.5;
  cursor: pointer;
}

/* right section */
.right-section {
  width: 360px;
  padding-top: 70px;
}

.company-text {
  color: orange;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.title-text {
  font-size: 2.2rem;
  margin-bottom: 25px;
}

.body-text {
  font-size: 0.82rem;
  color: rgb(98, 94, 94);
  line-height: 20px;
}

.current-price-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.current-price {
  margin-right: 12px;
}

.price-off {
  color: orange;
  padding: 4px 8px;
  background-color: rgb(255, 245, 228);
  border-radius: 4px;
}

.original-price {
  color: rgb(185, 183, 183);
  text-decoration: line-through;
  margin-bottom: 30px;
}

.spinner-container {
  display: flex;
  background-color: rgb(243, 246, 248);
  border-radius: 6px;
  margin-right: 10px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  background-color: rgb(255, 128, 0);
  color: white;
  border-radius: 6px;
  border: none;
  padding: 15px 60px;
  box-shadow: 4px 8px 16px rgba(255, 128, 0, 0.495);
}

.add-to-cart-icon {
  width: 14px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(214deg) brightness(106%) contrast(101%);
  margin-right: 10px;
}

.add-to-cart-text {
  font-weight: bold;
}

.spinner-and-add-cart-container {
  display: flex;
}

.spinner-and-add-cart-container p, h1, h2, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.spinner-button-1, .spinner-button-2 {
  font-size: 1.2rem;
  color: orange;
}

.spinner-button-1 {
  border-radius: 6px 0 0 6px;
}

.spinner-button-2 {
  border-radius: 0 6px 6px 0;
}

.counter {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-price {
  background-color: rgb(243, 246, 248);
  border: none;
  width: 40px;
  font-weight: bold;
  padding: 10px 0;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.747);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image-product {
  width: 450px;
  border-radius: 15px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.modal-thumbnail-container {
  display: flex;
  justify-content: space-around;
}

.modal-close-container {
  text-align: end;
}